/* 
################
### CADASTRO ###
################ 
*/
.formCad {
    margin: 0 10px;
    margin-bottom: 100px;
}

.inputCad input {
    width: 100%;
    margin: 5px 10px;
    font-size: 1.5em;
}


.inputCad textarea {
    width: 100%;
    margin: 5px 10px;
    font-size: 1.5em;
}

.inputCad select {
    width: 100%;
    margin: 5px 10px;
    padding: 10px 0px;
    font-size: 1.5em;
}

.inputCad {
    width: 100%;
    padding: 5px 10px;
}


.labelCad {
    width: 120px;
    margin: 5px 10px;
    font-size: 1.5em;
}




.butoonFloatPosition {
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    bottom: 50px;
    right: 50px;
    border: none;
}


.butoonFloatDelete {
    margin: 5px;
    background-color: rgb(255, 0, 0);
    height: 40px;
    width: 40px;
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
}


.butoonFloatDelete:hover {
    margin: 5px;
    background-color: rgb(255, 0, 0, 0.80);
    color: rgba(255, 255, 255, 0.40);
    font-size: 1.7em;
}



.butoonFloatCad {
    margin: 5px;
    background-color: rgb(16, 88, 6);
    height: 50px;
    width: 50px;
    color: white;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: none;
}

.butoonFloatCad:hover {
    margin: 5px;
    background-color: rgb(16, 88, 6, 0.80);
    color: rgba(255, 255, 255, 0.40);
    font-size: 1.7em;
}

/* 640 / 1007 / 1008 */
@media screen and (max-width: 640px) {
    .fieldCad {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
    .fieldCad {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1008px) {
    .fieldCad {
        display: flex;
        flex-direction: row;
    }

}