/* 
################
##  dashboard ##
################ 
*/

/* # title dash */

.titleDash {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-decoration: blod;
    margin-bottom: 0px;
    margin-top: 10px;
}

/* # dados resumo financeiro */
/* 640 / 1007 / 1008 */
@media screen and (max-width: 640px) {}

@media screen and (min-width: 641px) and (max-width: 1007px) {
    .dashResumo {
        display: flex;
        flex-direction: row;
    }

    .graficoDiv {
        width: 30%;
    }
}

@media screen and (min-width: 1008px) {
    .dashResumo {
        display: flex;
        flex-direction: row;
    }

    .graficoDiv {
        width: 30%;
    }
}


/* # Resumo finaceiro */

.dadosFinanceiro {
    display: flex;
    margin-top: 0px;
    margin-left: 10px;
    justify-content: center;
    flex-direction: column;
}

/* # dados de resumo finaceiro */

.titleSaldo {
    display: flex;
    flex-direction: row;
    font-size: 20pt;
    color: green;
}

.resumoFinanceiro {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.resumoFinanceiro span {
    margin: 2.5px;
}