/* 
################
#### RESUMO ####
################ 
*/

/* # title resumo */
.tableResumo {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.tableResumoTitle {
    color: black;
    font-size: 1.5em;
}

/* # table */

table, th, td {
    border: 1px solid black;
    width: 100%;
    padding: 15px;
}
