/* 
################
#### HEADER ####
################ 
*/

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: black solid 1px;
}

.header-img {
    display: flex;
}

/* # Imagem */

.App-logo {
    margin-top: 0px;
    margin-left: 5px;
}

/* # Menu */

.Menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Menu span {
    margin-left: 5px;
    margin-right: 5px;
}

.menuTitle a {
    text-decoration: none;
    color: black;
}

.menuTitle a:hover {
    color: rgba(104, 97, 97, 0.199);
}

.menuTitle a:visited {
    color: black;
}